body {
  background-color: #000;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

h1{
  font-size: 1em;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
}
button {
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
  border: unset;
  border-radius:0;
  padding: 2px 10px 2px 10px;
  /* width: 100%; */
  box-shadow: none;
  color: aliceblue;
  cursor: pointer;
}